output/pipelines/PL_WF_DAILY_SALES_LOAD.json
{
  "name": "PL_WF_DAILY_SALES_LOAD",
  "properties": {
    "description": "Migrated from Informatica workflow WF_DAILY_SALES_LOAD. Original schedule: Daily at 02:00 UTC. Loads customers, orders, validates order counts, and conditionally upserts inventory.",
    "activities": [
      {
        "name": "NB_M_LOAD_CUSTOMERS",
        "description": "Migrated from Informatica session S_M_LOAD_CUSTOMERS. Loads customer dimension data.",
        "type": "TridentNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "0.02:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 60,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookId": "",
          "notebook": {
            "referenceName": "NB_M_LOAD_CUSTOMERS",
            "type": "NotebookReference"
          },
          "parameters": {
            "load_date": {
              "value": {
                "value": "@pipeline().parameters.load_date",
                "type": "Expression"
              },
              "type": "string"
            }
          },
          "sparkPool": {
            "referenceName": "default",
            "type": "BigDataPoolReference"
          }
        }
      },
      {
        "name": "NB_M_LOAD_ORDERS",
        "description": "Migrated from Informatica session S_M_LOAD_ORDERS. Pre SQL and Post SQL handled within the notebook. Max error threshold: 5%. Parameter $$LOAD_DATE mapped to pipeline parameter load_date.",
        "type": "TridentNotebook",
        "dependsOn": [
          {
            "activity": "NB_M_LOAD_CUSTOMERS",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.02:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 60,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "notebookId": "",
          "notebook": {
            "referenceName": "NB_M_LOAD_ORDERS",
            "type": "NotebookReference"
          },
          "parameters": {
            "load_date": {
              "value": {
                "value": "@pipeline().parameters.load_date",
                "type": "Expression"
              },
              "type": "string"
            }
          },
          "sparkPool": {
            "referenceName": "default",
            "type": "BigDataPoolReference"
          }
        }
      },
      {
        "name": "EMAIL_FAILURE_CUSTOMERS",
        "description": "Migrated from Informatica EMAIL_FAILURE task. Triggered when S_M_LOAD_CUSTOMERS fails.",
        "type": "WebActivity",
        "dependsOn": [
          {
            "activity": "NB_M_LOAD_CUSTOMERS",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 1,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "url": {
            "value": "@pipeline().parameters.alert_webhook_url",
            "type": "Expression"
          },
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "value": "@json(concat('{\"pipeline\":\"PL_WF_DAILY_SALES_LOAD\",\"activity\":\"NB_M_LOAD_CUSTOMERS\",\"status\":\"Failed\",\"load_date\":\"', pipeline().parameters.load_date, '\",\"runId\":\"', pipeline().RunId, '\"}'))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "DEC_CHECK_ORDERS",
        "description": "Migrated from Informatica Decision task DEC_CHECK_ORDERS. Checks if NB_M_LOAD_ORDERS exit value > 0.",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "NB_M_LOAD_ORDERS",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "expression": {
            "value": "@greater(int(activity('NB_M_LOAD_ORDERS').output.status.Output.result.exitValue), 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "name": "NB_M_UPSERT_INVENTORY",
              "description": "Migrated from Informatica session S_M_UPSERT_INVENTORY. Upserts inventory data.",
              "type": "TridentNotebook",
              "dependsOn": [],
              "policy": {
                "timeout": "0.02:00:00",
                "retry": 2,
                "retryIntervalInSeconds": 60
              },
              "typeProperties": {
                "notebookId": "",
                "notebook": {
                  "referenceName": "NB_M_UPSERT_INVENTORY",
                  "type": "NotebookReference"
                },
                "parameters": {
                  "load_date": {
                    "value": {
                      "value": "@pipeline().parameters.load_date",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                },
                "sparkPool": {
                  "referenceName": "default",
                  "type": "BigDataPoolReference"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "Set_Skip_Reason",
              "description": "Record why inventory upsert was skipped.",
              "type": "SetVariable",
              "dependsOn": [],
              "typeProperties": {
                "variableName": "skip_reason",
                "value": "DEC_CHECK_ORDERS evaluated FALSE - 0 rows loaded. Inventory upsert skipped."
              }
            },
            {
              "name": "EMAIL_FAILURE_DECISION",
              "description": "Triggered when DEC_CHECK_ORDERS evaluates FALSE.",
              "type": "WebActivity",
              "dependsOn": [
                {
                  "activity": "Set_Skip_Reason",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 1,
                "retryIntervalInSeconds": 30
              },
              "typeProperties": {
                "url": {
                  "value": "@pipeline().parameters.alert_webhook_url",
                  "type": "Expression"
                },
                "method": "POST",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "value": "@json(concat('{\"pipeline\":\"PL_WF_DAILY_SALES_LOAD\",\"activity\":\"DEC_CHECK_ORDERS\",\"status\":\"DecisionFalse\",\"load_date\":\"', pipeline().parameters.load_date, '\",\"reason\":\"', variables('skip_reason'), '\",\"runId\":\"', pipeline().RunId, '\"}'))",
                  "type": "Expression"
                }
              }
            }
          ]
        }
      },
      {
        "name": "EMAIL_FAILURE_ORDERS",
        "description": "Migrated from Informatica EMAIL_FAILURE task. Triggered when S_M_LOAD_ORDERS fails.",
        "type": "WebActivity",
        "dependsOn": [
          {
            "activity": "NB_M_LOAD_ORDERS",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 1,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "url": {
            "value": "@pipeline().parameters.alert_webhook_url",
            "type": "Expression"
          },
          "method": "POST",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "value": "@json(concat('{\"pipeline\":\"PL_WF_DAILY_SALES_LOAD\",\"activity\":\"NB_M_LOAD_ORDERS\",\"status\":\"Failed\",\"load_date\":\"', pipeline().parameters.load_date, '\",\"runId\":\"', pipeline().RunId, '\"}'))",
            "type": "Expression"
          }
        }
      }
    ],
    "parameters": {
      "load_date": {
        "type": "string",
        "defaultValue": ""
      },
      "alert_webhook_url": {
        "type": "string",
        "defaultValue": ""
      }
    },
    "variables": {
      "skip_reason": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "annotations": [
      "source:informatica",
      "workflow:WF_DAILY_SALES_LOAD",
      "agent:pipeline-migration",
      "schedule:daily-0200-utc"
    ],
    "folder": {
      "name": "Migrated/InformaticaWorkflows"
    }
  },
  "type": "Microsoft.Fabric/workspaces/dataPipelines"
}
